.clear_float {
	display: block;
	float: none;
	clear: both;
}

.main_wraper {
	background-color: #F6F7FF !important;
	position: absolute;
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
}

.dash_heading {
	text-align: center;
	background-color: #0dd18c !important;
	color: white;
	padding: 5px;
	padding-bottom: 12px !important;
	/*box-shadow: 0px 4px 4px 10px lightgrey;*/
	box-shadow: 0px 4px 4px 10px rgb(8 255 168 / 10%) !important;
}

.main_row_div {
	width: 100%;
	margin: 30px 30px 30px 12px;
}

.left_main_row_div {
	width: 32%;
	float: left;
	margin-left: 5px;
	/* border: 1px solid lightgray; */
	border-radius: 25px;
	background-color: white;
	padding: 35px !important;
	box-shadow: 1px 2px 12px 1px lightsteelblue !important;
	height: auto;
}

.center_main_row_div {
	width: 32%;
	float: left;
	margin-left: 20px;
	border-radius: 25px;
	background-color: white;
	padding: 35px !important;
	box-shadow: 1px 2px 12px 1px lightsteelblue !important;
	height: auto;
}

.right_main_row_div {
	width: 34%;
	float: left;
	margin-left: 20px;
	border-radius: 25px;
	background-color: white;
	padding: 35px !important;
	box-shadow: 1px 2px 12px 1px lightsteelblue !important;
	height: auto;
}

.bank_blc_heading h4 {
	text-align: center;
	font-size: 30px;
}

.inv_blc_heading h4 {
	text-align: center;
	font-size: 30px;
}

.app_blc_heading h4 {
	text-align: center;
	font-size: 30px;
}

.bank_tab table {
	border: 1px solid;
	border-collapse: collapse;
}

.bank_tab table th {
	border: 1px solid;
	text-align: center;
	border-collapse: collapse;
	padding: 7px;
	background: #6c7ae0;
	color: white;
}

.bank_tab table td {
	border: 1px solid;
	padding-left: 10px;
	border-collapse: collapse;
	padding: 4px;
}

.bank_tab tr:nth-child(odd) {
	background: white;
}

.bank_tab tr:nth-child(even) {
	background: ##f8f6ff;
}

.inv_detail {
	padding-left: 50px;
	padding-right: 50px;
}

.up_arrow {
	color: #3CD4A0;
	transform: rotate(140deg);
}

.down_arrow {
	color: #FF5C93;
	transform: rotate(-45deg);
}

.solid {
	font-size: 14px !important;
	font-weight: bold;

}

.liquid {
	font-weight: bold;
	float: right;
}

.app_detail {
	padding-left: 50px;
	padding-right: 50px;
}

.butn {
	background-color: #0dd18c !important;
    border: none;
    color: white;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 17px !important;
    cursor: pointer;
    border-radius: 4px;
    width: 66px;
}

.butn:hover
{
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 11px 30px 0 rgba(0,0,0,0.19) !important;
}

.button_balance_sheet {
	background-color: #0dd18c !important; /* Green */
  	border: none;
  	color: white;
  	padding: 6px;
  	padding-right: 15px;
  	padding-left: 15px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 13px !important;
  	cursor: pointer;
}

.button_balance_sheet:hover
{
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 11px 30px 0 rgba(0,0,0,0.19) !important;
}
p
{

	border-bottom: 1px solid rgba(0,0,0,0.1) !important;
    padding: 10px;
    /*padding-bottom: 12px;*/
}
p:hover
{
	background: rgba(205,205,205,0.3);
    color: #000;
    font-weight: bolder !important;
    border-radius: 4px;
}
/*
@media only screen and (min-width: 1200px) {

	.main_wraper {
		width: 100%;
		background-color: #F6F7FF;
	}

	.dash_heading {
		text-align: center;
		background-color: #0dd18c;
		color: white;
		padding: 5px;
		width: 100%;
		box-shadow: 0px 4px 4px 10px lightgrey;
	}

	.main_row_div {
		width: 100%;
	}

	.left_main_row_div {
		width: 32%;
		float: left;
		margin-left: 5px;
		border-radius: 25px;
		background-color: white;
		padding: 35px;
		box-shadow: 1px 2px 12px 1px lightsteelblue;
		height: auto;
	}

	.center_main_row_div {
		width: 32%;
		float: left;
		margin-left: 20px;
		border-radius: 25px;
		background-color: white;
		padding: 35px;
		box-shadow: 1px 2px 12px 1px lightsteelblue;
		height: auto;
	}

	.right_main_row_div {
		width: 34%;
		float: left;
		margin-left: 20px;
		border-radius: 25px;
		background-color: white;
		padding: 35px;
		box-shadow: 1px 2px 12px 1px lightsteelblue;
		height: auto;
	}

	.bank_blc_heading {
		text-align: center;
		font-size: 30px;
	}

	.inv_blc_heading h4 {
		text-align: center;
		font-size: 30px;
	}

	.app_blc_heading h4 {
		text-align: center;
		font-size: 30px;
	}

	.bank_tab table {
		border: 1px solid;
		border-collapse: collapse;
	}

	.bank_tab table th {
		border: 1px solid;
		text-align: center;
		border-collapse: collapse;
		padding: 7px;
		background: #6c7ae0;
		color: white;
	}

	.bank_tab table td {
		border: 1px solid;
		padding-left: 10px;
		border-collapse: collapse;
		padding: 4px;
	}

	.bank_tab tr:nth-child(odd) {
		background: white;
	}

	.bank_tab tr:nth-child(even) {
		background: #f8f6ff;
	}

	.inv_detail {
		padding-left: 50px;
		padding-right: 50px;
	}

	.up_arrow {
		color: #3CD4A0;
		transform: rotate(140deg);
	}

	.down_arrow {
		color: #FF5C93;
		transform: rotate(-45deg);
	}

	.solid {
		font-weight: bold;
	}

	.liquid {
		font-weight: bold;
		float: right;
	}

	.app_detail {
		padding-left: 50px;
		padding-right: 50px;
	}

	.main_wraper p {
		font-size: 18px;
	}

	.button_balance_sheet {
		background: #6c7ae0;
		border: hidden;
		color: white;
		font-size: 18px;
		font-family: initial;
	}
}

@media only screen and (min-width: 1024px) {

	.main_wraper {
		width: 100%;
		background-color: #F6F7FF;
	}

	.dash_heading {
		text-align: center;
		background-color: #0dd18c;
		color: white;
		padding: 5px;
		width: 100%;
		box-shadow: 0px 4px 4px 10px lightgrey;
	}

	.main_row_div {
		width: 100%;
	}

	.left_main_row_div {
		width: 32%;
		float: left;
		margin-left: 5px;
		border: 1px solid lightgray;
		background-color: white;
		padding: 15px;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 700px;
	}

	.center_main_row_div {
		width: 32%;
		float: left;
		padding: 15px;
		margin-left: 5px;
		border: 1px solid lightgray;
		background-color: white;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 700px;
	}

	.right_main_row_div {
		width: 34%;
		float: left;
		padding: 15px;
		margin-left: 5px;
		border: 1px solid lightgray;
		background-color: white;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 700px;
	}

	.bank_blc_heading {
		text-align: center;
		font-size: 30px;
	}

	.inv_blc_heading h4 {
		text-align: center;
		font-size: 30px;
	}

	.app_blc_heading h4 {
		text-align: center;
		font-size: 30px;
	}

	.bank_tab table {
		border: 1px solid;
		border-collapse: collapse;
	}

	.bank_tab table th {
		border: 1px solid;
		text-align: center;
		border-collapse: collapse;
		font-size: 12px;
		padding: 7px;
		background: #6c7ae0;
		color: white;
	}

	.bank_tab table td {
		border: 1px solid;
		padding-left: 10px;
		border-collapse: collapse;
		font-size: 12px;
		padding: 4px;
	}

	.bank_tab tr:nth-child(odd) {
		background: white;
	}

	.bank_tab tr:nth-child(even) {
		background: #f8f6ff;
	}

	.inv_detail {
		padding-left: 10px;
		padding-right: 10px;
	}

	.up_arrow {
		color: #3CD4A0;
		transform: rotate(140deg);
	}

	.down_arrow {
		color: #FF5C93;
		transform: rotate(-45deg);
	}

	.solid {
		font-weight: bold;
	}

	.liquid {
		font-weight: bold;
		float: right;
	}

	.app_detail {
		padding-left: 10px;
		padding-right: 10px;
	}

	.main_wraper p {
		font-size: 18px;
	}

	.button_balance_sheet {
		background: #6c7ae0;
		border: hidden;
		color: white;
		font-size: 18px;
		font-family: initial;
	}
}

@media only screen and (max-width: 992px) {

	.main_wraper {
		width: 80%;
		background-color: #F6F7FF;
	}

	.dash_heading {
		text-align: center;
		background-color: #0dd18c;
		color: white;
		padding: 3px;
		margin: 20px;
		width: 70%;
		font-size: 20px;
		box-shadow: 0px 4px 4px 10px lightgrey;
	}

	.main_row_div {
		width: 80%;
		margin: 30px 30px 30px 12px;
	}

	.left_main_row_div {
		width: 25%;
		float: left;
		margin-left: 7px;
		border: 1px solid lightgray;
		background-color: white;
		padding: 7px;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 600px;
	}

	.center_main_row_div {
		width: 25%;
		float: left;
		margin-left: 7px;
		border: 1px solid lightgray;
		background-color: white;
		padding: 7px;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 600px;
	}

	.right_main_row_div {
		width: 25%;
		float: left;
		margin-left: 7px;
		border: 1px solid lightgray;
		background-color: white;
		padding: 7px;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 600px;
	}

	.bank_blc_heading {
		text-align: center;
		font-size: 15px;
	}

	.inv_blc_heading h4 {
		text-align: center;
		font-size: 15px;
	}

	.app_blc_heading h4 {
		text-align: center;
		font-size: 15px;
	}

	.bank_tab table {
		border: 1px solid;
		border-collapse: collapse;
		font-size: 8px;
	}

	.bank_tab table th {
		border: 1px solid;
		text-align: center;
		font-size: 8px;
		border-collapse: collapse;
		padding: 7px;
		background: #6c7ae0;
		color: white;
	}

	.bank_tab table td {
		border: 1px solid;
		padding-left: 7px;
		font-size: 8px;
		border-collapse: collapse;
		padding: 4px;
	}

	.bank_tab tr:nth-child(odd) {
		background: white;
	}

	.bank_tab tr:nth-child(even) {
		background: #f8f6ff;
	}

	.inv_detail {
		padding-left: 3px;
		padding-right: 3px;
	}

	.up_arrow {
		color: #3CD4A0;
		transform: rotate(140deg);
	}

	.down_arrow {
		color: #FF5C93;
		transform: rotate(-45deg);
	}

	.solid {
		font-weight: bold;
	}

	.liquid {
		font-weight: bold;
		float: right;
	}

	.app_detail {
		padding-left: 3px;
		padding-right: 3px;
	}

	.main_wraper p {
		font-size: 10px;
	}

	.button_balance_sheet {
		background: #6c7ae0;
		border: hidden;
		color: white;
		font-size: 14px;
		font-family: initial;
	}
}

@media only screen and (max-width: 768px) {

	.main_wraper {
		width: 70%;
		background-color: #F6F7FF;
	}

	.dash_heading {
		text-align: center;
		background-color: #0dd18c;
		color: white;
		padding: 3px;
		margin: 20px;
		font-size: 15px;
		box-shadow: 0px 4px 4px 10px lightgrey;
	}

	.main_row_div {
		width: 75%;
	}

	.left_main_row_div {
		width: 25%;
		float: left;
		margin-left: 10px;
		border: 1px solid lightgray;
		background-color: white;
		padding: 7px;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 400px;
	}

	.center_main_row_div {
		width: 25%;
		float: left;
		margin-left: 10px;
		border: 1px solid lightgray;
		background-color: white;
		padding: 7px;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 400px;
	}

	.right_main_row_div {
		width: 25%;
		float: left;
		margin-left: 10px;
		border: 1px solid lightgray;
		background-color: white;
		padding: 7px;
		box-shadow: 1px 2px 12px 1px darkgrey;
		height: 400px;
	}

	.bank_blc_heading {
		text-align: center;
		font-size: 10px;
	}

	.inv_blc_heading h4 {
		text-align: center;
		font-size: 10px;
	}

	.app_blc_heading h4 {
		text-align: center;
		font-size: 10px;
	}

	h4 {
		font-size: 8px;
	}

	.bank_tab table {
		border: 1px solid;
		border-collapse: collapse;
		font-size: 8px;
	}

	.bank_tab table th {
		border: 1px solid;
		text-align: center;
		font-size: 8px;
		border-collapse: collapse;
		padding: 7px;
		background: #6c7ae0;
		color: white;
	}

	.bank_tab table td {
		border: 1px solid;
		padding-left: 7px;
		font-size: 8px;
		border-collapse: collapse;
		padding: 4px;
	}

	.bank_tab tr:nth-child(odd) {
		background: white;
	}

	.bank_tab tr:nth-child(even) {
		background: #f8f6ff;
	}

	.inv_detail {
		padding-left: 3px;
		padding-right: 3px;
	}

	.up_arrow {
		color: #3CD4A0;
		transform: rotate(140deg);
	}

	.down_arrow {
		color: #FF5C93;
		transform: rotate(-45deg);
	}

	.solid {
		font-weight: bold;
	}

	.liquid {
		font-weight: bold;
		float: right;
	}

	.app_detail {
		padding-left: 3px;
		padding-right: 3px;
	}

	.main_wraper p {
		font-size: 8px;
	}

	.button_balance_sheet {
		background: #6c7ae0;
		border: hidden;
		color: white;
		font-size: 12px;
		font-family: initial;
	}
}*/