#app-sidebar {
	display: none !important;
}
.o_list_view tfoot {
	background-color: transparent !important;
}
#odooAppDrawer {
    background-image: none !important;
    background: url(/backend_theme_v10/static/src/img/wallpaper3.jpg), linear-gradient(to right bottom, #77717e, #c9a8a9) !important;
    background-size: cover !important;
}
.btn-primary {
    background-color: #00A09D;
    border-color: #00A09D;
}
.o_control_panel .breadcrumb > li > a {
    color: #00A09D;
    cursor: pointer;
}
.o_form_view .o_form_required.o_form_input, 
.o_form_view .o_form_required .o_form_input, 
.o_form_view .o_form_required textarea.o_form_textarea {
	background: transparent;
    border-bottom: 2px solid #666666;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:active {
    color: #FFFFFF !important;
    background-color: #007a77 !important;
    border-color: #006d6b !important;
    outline: none !important;
}
.btn-default {
    color: #00A09D;
}
.web-responsive-focus {
    outline: none;
}
.navbar-header .btn-default:hover {
    background-color: #62425e !important;
}
.btn-default:focus,
.btn-default:visited,
.btn-default:active {
    background-color: transparent !important;
    outline: none !important;
    color: #00A09D !important;
}
.web-responsive-focus {
	outline: none !important;
}
.panel {
    background-color: transparent;
}
.panel-info > .panel-heading {
    background-color: transparent;
}
.panel-info {
    border-color: transparent;
}
.panel-heading h2 i {
	display: none !important;
}
.panel-heading h2 input {
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    height: 40px;
    color: #FFF;
    border-radius: 3px;
    border: none;
    padding: 0px 0px 0px 10px;
    background: rgba(255,255,255,0.1);
}
.panel-heading h2 {
    width: 100%;
    font-weight: normal;
    font-size: 16px;
}
#appDrawerSearchResults li h2 {
	color: #FFF;
	font-size: 18px;
}
.app-drawer-nav .panel-body:nth-child(2) {
    padding-top: 10px !important;
}
#appDrawerAppPanelBody {
    padding-top: 80px !important;
}
.btn-default:hover {
	color: #212529;
    background-color: #e6e5e5;
    border-color: #e6e5e5;
}
.o_form_label,
.o_form_field {
	font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif;
	color: #666666;
}
.o_required_modifier.o_input, 
.o_required_modifier .o_input {
    border-bottom: 2px solid #666666;
}
header > .main-nav > .container-fluid .o_sub_menu > .o_sub_menu_content > .oe_secondary_menu ul.dropdown-menu > li.dropdown-header {
    background-color: #00A09D !important;
}
.oe_module_desc .btn-default {
	background-color: transparent;
}
.o_control_panel {
    border-bottom: 1px solid #cccccc !important;
}
.o_kanban_view .o_kanban_record {
    box-shadow: 0px 0px 1px 1px #CCC !important;
}
.o_searchview .o_searchview_facet {
    border: 1px solid #CCC;
}
.o_searchview .o_searchview_facet span {
    color: #8F8F8F;
}
.o_dropdown_toggler_btn, 
.o_dropdown_toggler_btn:hover, 
.o_dropdown_toggler_btn:focus, 
.o_dropdown_toggler_btn:hover, 
.o_dropdown_toggler_btn:focus, 
.btn-icon, .o_graph_button {
    color: #666 !important;
    font-weight: bold;
}
.o_list_view.table tbody tr.o_group_header {
    border-top: none;
    box-shadow: inset 0 1px 0 #ffffff;
}
.o_list_view tbody > tr.o_group_header .o_group_name {
    color: #6c757d;
    padding-left: 15px;
}
.o_list_view.table thead {
    background-color: #FFF;
    color: #666666;
}
.table-condensed > thead > tr > th, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > th {
    padding: 12px 4px;
}
.breadcrumb > .active {
    color: #8f8f8f;
}
.table {
    color: #666;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #FFF;
}
.table-striped > tbody > tr {
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #eee;
}
.table-striped > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.oe_highlight {
    color: #ffffff !important;
    background-color: #00A09D !important;
    outline: none !important;
}
.oe_highlight:focus,
.oe_highlight:visited,
.oe_highlight:active,
.o_sale_confirm:focus,
.o_sale_confirm:visited,
.o_sale_confirm:active,
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight):hover {
    background-color: #007a77 !important;
    outline: none !important;
}
.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight) {
    color: #00A09D;
}
.o_list_view.table tbody tr.o_group_header:hover th {
    color: #00A09D;
}
.o_list_view.table td {
    vertical-align: middle;
}
.o_form_view .o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: transparent !important;
}
.o_form_view .o_list_view.table tbody tr:first-child {
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.o_form_view .table-condensed > thead > tr > th, 
.o_form_view .table-condensed > tbody > tr > th, 
.o_form_view .table-condensed > tfoot > tr > th {
    padding: 10px 4px 5px;
    font-size: 12px;
}
.o_web_client input:focus, 
.o_web_client textarea:focus, 
.o_web_client select:focus {
    border-bottom: none !important;

}
.o_searchview {
    border-bottom: 1px solid #8f8f8f;
}
.o_list_view .o_list_number {
    padding-right: 10px;
    padding-left: 0px;
}
.o_list_view_grouped.o_list_view .o_list_number {
    text-align: center;
}
.panel-default > .panel-heading {
    background-color: transparent;
    border: none;
}
#appDrawerAppPanelHead div:nth-child(2) {
    display: none;
}
#appDrawerAppPanelHead div:nth-child(1) h4,
#appDrawerAppPanelHead div:nth-child(1) a {
    color: #FFF;
}
.app-drawer-icon-search{
    display: none;
}
.app-drawer-search-action{
    display: none;
}
.app-drawer-icon-search .drawer-search-open{
    display: none;
}
.fa-search{
    display: none;
}