.o_web_client .openerp .oe_appsbar {
    background-image: none !important;
    background: url(/theme_customization/static/src/img/home-menu-bg-overlay.svg), linear-gradient(to right bottom, #77717e, #c9a8a9) !important;
    background-size: cover !important;
}
.o_form_view .o_form_sheet_bg .o_form_sheet {
    min-width: unset !important;
    max-width: unset !important;
    width: 90% !important;
}